app/__pycache__/config.cpython-314.pyc
app/__pycache__/main.cpython-314.pyc
app/rutas/__pycache__/dietas.cpython-314.pyc
app/rutas/__pycache__/index.cpython-314.pyc
app/rutas/__pycache__/recetas.cpython-314.pyc
app/__pycache__/main.cpython-314.pyc
